/* annotatedDiagramBlock.html */

.annotatedDiagramBlock .listHolder {
    display: inline-block;
}

.annotatedDiagramBlock .listItem {
    font-weight: bold;
    display: block;
    padding: 0.3em;
}

.annotatedDiagramBlock .panel.right {
    float: right;
    margin: 0 0 20px 20px;
}

.annotatedDiagramBlock .panel.left {
    float: left;
    margin: 0 20px 20px 0;
}

.annotatedDiagramBlock .imageHolder {
    position: relative;
}

.annotatedDiagramBlock.pageContents .hotspot {
    position: absolute;
    cursor: pointer;
}

.annotatedDiagramBlock .infoHolder {
    padding-top: 10px;
}

.annotatedDiagramBlock .mainText {
    padding-bottom: 10px;
}

.annotatedDiagramBlock.pageContents{
    height: fit-content;
}

.annotatedDiagramBlock.pageContents .highlightBorder {
    border: 1px solid;
    margin-top: -1px;
    margin-left: -1px;
}

.annotatedDiagramBlock.pageContents .selected {
    margin-top: -2px;
    margin-left: -2px;
}

.annotatedDiagramBlock .canvas {
    position: absolute;
    margin: 0;
    pointer-events: none;
    left: 0;
    top: 0;
}

.annotatedDiagramBlock.pageContents .hsHolder:not(.mapster) {
    position: absolute;
    top: 0;
}

.annotatedDiagramBlock.pageContents .hsHolder:not(.mapster) .hotspot {
    position:	absolute;
    cursor:		pointer;
    border:		2px solid transparent;
}

.annotatedDiagramBlock.pageContents .hsHolder:not(.mapster).oval .hotspot {
    -moz-border-radius:	50% 50%;
    border-radius:		50% 50%;
}
