/* categoriesBlock.html */
 .categoriesBlock {

 }

.categoriesBlock .dragDropHolder {
    overflow:	auto;
}

.categoriesBlock .dragDropHolder .label {
    cursor:				pointer;
    list-style-type:	none;
    padding:			5px;
    position:			relative;
}

.categoriesBlock .dragDropHolder .label.focus {
    border:	2px solid yellow;
}

.categoriesBlock .dragDropHolder .label.selected {
    border:	2px solid green;
}

.categoriesBlock .dragDropHolder .tick {
    position: absolute;
    bottom: 0px;
    right: 0px
}

.categoriesBlock .initHolder {
    padding:		0px;
    margin-right:	2%;
    float:			right;
}

.categoriesBlock .categoryHolder {
    clear:	right;
}

.categoriesBlock .categoryHolder .category {
    padding:			1%;
    float:				left;
}

.categoriesBlock .categoryHolder .category .label {
    margin-top:		10px;
}

.categoriesBlock .categoryHolder h3 {
    text-align:		center;
}

.categoriesBlock .button {
    clear:			left;
    margin-bottom:	10px;
    float:			right;
}

.categoriesBlock .feedback {
    clear:	left;
}

.categoriesBlock ul.initHolder {
    overflow: visible;
}
