/* dragDropLabel.html */

.iblock:has( .dragDropLabelBlock){
	position: relative;
}

.dragDropLabelBlock .textHolder {
    margin-bottom:	10px;
}

.dragDropLabelBlock .borderTop {
    border-top:		1px solid gray;
    margin-top:		20px;
    padding-top:	20px;
}

.dragDropLabelBlock .mainText {
    margin-bottom: 1em;
}

.dragDropLabelBlock .mainPanel {
    position:	relative;
}

.dragDropLabelBlock .mainPanel .labelHolder {
    margin-top:	10px;
}

.dragDropLabelBlock .dragDropHolderLabelling .labelHolder {
    clear: both;
}

.dragDropLabelBlock .labelHolder .label {
    display:	inline-block;
    cursor:		pointer;
    padding:	5px;
    margin:		10px;
}

.dragDropLabelBlock .labelHolder .label.correct .result, .labelHolder .label.incorrect .result {
    padding-left: 0.5em;
}

.dragDropLabelBlock .labelHolder .label.focus {
    border:		2px solid yellow;
}

.dragDropLabelBlock .labelHolder .label.selected {
    border:		2px solid green;
}

.dragDropLabelBlock .buttonHolder {
    margin   : 10px;
    float    : right;
    position : relative;
    bottom   : 0;
    right    : 0;
}

.dragDropLabelBlock .targetHolder {
    position:	absolute;
    margin:		10px;
    top:		0;
    left:		0;
}

.dragDropLabelBlock .targetHolder .target {
    position:	absolute;
}

.dragDropLabelBlock .targetHolder .target.border {
    border:	1px solid;
}

.dragDropLabelBlock .pageContents hr {
    border: none;
    background-color: #CCCCCC;
    height: 1px;
}

.dragDropLabelBlock .infoHolder {
    margin-top: 1em;
}



