/* gapFill.html */
	
	.fillGapBlock .pageContents{
		overflow:	auto;
		position: relative;
	}

	.fillGapBlock .textHolder {
		margin-bottom:	10px;
	}

	.fillGapBlock .targetHolder .target {
		display:		inline-block;
		text-align:		center;
		vertical-align:	middle;
		padding:		5px;
		margin:			3px 0 5px 0;
	}

	.fillGapBlock .targetHolder input {
		margin:		5px 0;
		text-align:	center;
	}

	.fillGapBlock .targetHolder input[readonly].correct, .targetHolder .target.correct, .targetHolder input[correct] {
		color:			green;
		border-color:	transparent;
	}

	.fillGapBlock .targetHolder .target.incorrect {
		color:			#EB0000;
		border-color:	transparent;
		font-weight:600;
	}

	.fillGapBlock .targetHolder input.incorrect, .targetHolder input[incorrect] {
		color: 			#EB0000;
		font-weight:600;
	}

	.fillGapBlock .targetHolder .target.incorrect {
		color:			#EB0000;
		border-color:	transparent;
		font-weight:600;
	}

	.fillGapBlock .targetHolder .target.answerShown, .targetHolder input.answerShown {
		color:			#c36b00;
		border-color:	transparent;
	}

	.fillGapBlock .targetHolder select {
		margin:	5px 0;
	}

	.fillGapBlock .targetHolder select[disabled] {
		color: #EB0000;
		font-weight:600;
	}

	.fillGapBlock .targetHolder select[disabled].correct {
		color:	green;
	}

	.fillGapBlock .targetHolder select[disabled].answerShown {
		color:			#c36b00;
	}

	.fillGapBlock .labelHolder {
		margin-top:	1em;
		border-top:	1px solid #ccc;
	}

	.fillGapBlock .labelHolder .label {
		display:	inline-block;
		cursor:		pointer;
		padding:	7px;
		margin:		10px;
		border:		2px solid white;
	}

	.fillGapBlock .labelHolder .label.focus {
		border:		2px solid yellow;
	}

	.fillGapBlock .labelHolder .label.selected {
		border:		2px solid green;
	}

	.fillGapBlock .feedbackTxt {
		margin-top:		1em;
		padding-top:	1em;
		border-top:		1px solid #ccc;
		clear:			both;
	}

	.fillGapBlock .feedbackTxt .audioHolder {
		margin-top:	20px;
	}

	.fillGapBlock .btnHolder {
		overflow: auto;
	}

	.fillGapBlock .submitBtn, .showBtn {
		float:	right;
		margin-bottom:	10px;
	}

	.fillGapBlock .showBtn {
		margin-right: 1em;
	}
