/* gapFill.html */

.gapFillBlock .pageContents{
	overflow:	auto;
	position: relative;
}

.gapFillBlock .textHolder {
	margin-bottom:	10px;
}

.gapFillBlock .targetHolder .target {
	display:		inline-block;
	text-align:		center;
	vertical-align:	middle;
	padding:		5px;
	margin:			3px 0 5px 0;
}

.gapFillBlock .targetHolder input {
	margin:		5px 0;
	text-align:	center;
}

.gapFillBlock .targetHolder input[readonly].correct, .targetHolder .target.correct, .targetHolder input[correct] {
	color:			green;
	border-color:	transparent;
}

.gapFillBlock .targetHolder .target.incorrect {
	color:			#EB0000;
	border-color:	transparent;
	font-weight:600;
}

.gapFillBlock .targetHolder input.incorrect, .targetHolder input[incorrect] {
	color: 			#EB0000;
	font-weight:600;
}

.gapFillBlock .targetHolder .target.incorrect {
	color:			#EB0000;
	border-color:	transparent;
	font-weight:600;
}

.gapFillBlock .targetHolder .target.answerShown, .targetHolder input.answerShown {
	color:			#c36b00;
	border-color:	transparent;
}

.gapFillBlock .targetHolder select {
	margin:	5px 0;
}

.gapFillBlock .targetHolder select[disabled] {
	color: #EB0000;
	font-weight:600;
}

.gapFillBlock .targetHolder select[disabled].correct {
	color:	green;
}

.gapFillBlock .targetHolder select[disabled].answerShown {
	color:			#c36b00;
}

.gapFillBlock .labelHolder {
	margin-top:	1em;
	border-top:	1px solid #ccc;
}

.gapFillBlock .labelHolder .label {
	display:	inline-block;
	cursor:		pointer;
	padding:	7px;
	margin:		10px;
	border:		2px solid white;
}

.gapFillBlock .labelHolder .label.focus {
	border:		2px solid yellow;
}

.gapFillBlock .labelHolder .label.selected {
	border:		2px solid green;
}

.gapFillBlock .feedbackTxt {
	margin-top:		1em;
	padding-top:	1em;
	border-top:		1px solid #ccc;
	clear:			both;
}

.gapFillBlock .feedbackTxt .audioHolder {
	margin-top:	20px;
}

.gapFillBlock .btnHolder {
	overflow: auto;
}

.gapFillBlock .submitBtn, .showBtn {
	float:	right;
	margin-bottom:	10px;
}

.gapFillBlock .showBtn {
	margin-right: 1em;
}
