/* hotspotImage.html */

	.hotSpotQuestion .panel.right {
		float:	right;
		margin:	0 0 20px 20px;
	}

	.hotSpotQuestion .panel.left {
		float:	left;
		margin:	0 20px 20px 0;
	}

	.hotSpotQuestion .imageHolder {
		position:	relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.pageContents.hotSpotQuestion .hotspot {
		position:	absolute;
		cursor:		pointer;
	}

	.hotSpotQuestion .infoHolder {
		padding-top: 10px;
	}

	.hotSpotQuestion .infoHolder hr {
		border: none;
		background-color: #CCCCCC;
		height: 1px;
		margin-bottom: 20px;
	}

	.pageContents.hotSpotQuestion .highlightBorder {
		border:		1px solid;
		margin-top: -1px;
		margin-left: -1px;
	}

	.pageContents.hotSpotQuestion .selected {
		margin-top: -2px;
		margin-left: -2px;
	}

	.hotSpotQuestion .disableClick{
		pointer-events: none;
	}

	.hotSpotQuestion .mapster_el .x_noLightBox{
		width: 100% !important;
	}
	.hotSpotQuestion .mapster_el{
		width: 100% !important;
	}
	/*.x_noLightBox{*/
	/*	width: 100% !important;*/
	/*}*/

	.hotSpotQuestion .infoHolder{
		padding-top: 0!important;
	}

	.hotSpotQuestion .feedbackIcon{
		position: absolute;
		z-index: 1;
	}
	.hotSpotQuestion .textContents{
		padding-top: 8px;
	}
	.hotSpotQuestion .paddingLeft{
		margin-left: 10% !important;

	}
	.hotSpotQuestion .paddingLeft{
		padding-right: 7% !important;

	}
	
	.hotSpotQuestion .mapster_wrap_0{
		margin: auto !important;
	}

	.hotSpotQuestion .checkButton{
		float: right;
	}

	.hotSpotQuestion .score h3{
		padding: 0.3em;
	}

	.hotSpotQuestion .text{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.hotSpotQuestion .markingIcons .correct {
		position: absolute;
		margin-left: -22px;
		margin-top: -22px;
	}
	
	.hotSpotQuestion .markingIcons .incorrect {
		position: absolute;
		margin-left: -17px;
		margin-top: -22px;
	}
	
	.hotSpotQuestion .markingIcons .correct span:before {
		font-family: FontAwesome;
		content: "\f00c";
		color: green;
	}
	
	.hotSpotQuestion .markingIcons .incorrect span:before {
		font-family: FontAwesome;
		content: "\f00d";
		color: red;
	}
