/*.iblock .textHolder{*/
/*    top: auto;*/
/*    left: auto;*/
/*    position: relative;*/
/*}*/

.x-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    margin-bottom: 30px;
}

.iblock {
	overflow: auto;
}
