/* textMatch.html */
.textMatchBlock .textHolder {
    margin-bottom: 20px;
}

.textMatchBlock .dragDropHolder {
    overflow: auto;
    margin-bottom: 10px;
}

.textMatchBlock .dragDropHolder .label {
    cursor: pointer;
    padding: 5px;
}

.textMatchBlock .dragDropHolder .label.focus {
    border: 2px solid yellow;
}

.textMatchBlock .dragDropHolder .label.selected {
    border: 2px solid green;
}

.textMatchBlock .dragDropHolder .labelTxt {
    position: relative;
    float: left;
}

.textMatchBlock .dragDropHolder .audioHolder {
    float: left;
    margin-right: .5em;
}

.textMatchBlock .dragDropHolder .audioHolder .mejs-controls div:not(.mejs-playpause-button):not(.audioTranscriptBtn) {
    display: none;
}
.textMatchBlock .dragDropHolder .audioHolder.audioTranscript .mejs-container {
    width: 60px !important;
}
.textMatchBlock .dragDropHolder .tick {
    position: absolute;
    top: 0.5em;
    right: 0em;
}

.dragDropHolder .audioFB .tick {
    right: -1.5em;
}

.textMatchBlock .labelHolder {
    padding: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    position: relative;
}

.textMatchBlock .targetHolder {
    clear: right;
}

.textMatchBlock .targetHolder .target {
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textMatchBlock .targetHolder h3 {
    width: 48%;
}

.textMatchBlock .targetHolder .hint {
    width: 50%;
    float: right;
}

.textMatchBlock .button {
    margin-bottom: 10px;
    float: right;
}
