:root {
    --background-color: #EEE ;
    --primary-color: #f8f9fa;
    --secondary-color: #536390;
    --font-color: #212529;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --background-color: black ;
    --primary-color: #1D1D1D;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

html,
body{
    background-color: var(--background-color) !important;
    overflow: auto !important;
    height: 100% !important;

}

.workspace{
    height: 100% !important;

}

.modules{
    background-color: #0b2e13;
    flex-grow: 1;
}

.tree{
    background-color: #9ddeaf;
    flex-grow: 1;

}

.mainContent{
    background-color: #304235;
    flex-grow: 2.5;

}

.optionalParams{
    background-color: #003a0c;
    flex-grow: 1;

}

.modules,
.tree,
.mainContent,
.optionalParams{
    margin: 10px;
    border-radius: 15px;
    background-color: white;

    overflow: auto;
    max-height: 100vh;
}

.accordion-body{
    padding: 0 !important;
}

.accordion-header{
    margin: 0 !important;
}

.accordion-button:focus {
    background-color: #FFF !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
    color: black;
}

.accordion-button{
    box-shadow: 0 0 0 .25rem #FFF !important;
    font-weight: bold;
}

.accordion-button:hover {
    background-color: #FFF !important;
}


.modules{
    width: 200px;
    transition: all 1s ease;
}

.modules-icon{
    width: 85px !important;
    flex-grow: 0;
    border-radius: 0;
    margin: 0;

}

.m-w-40{
    max-width: 40%;
}

.m-w-20{
    min-width: 20%;
}

.item{
    background-color: #EEF1F5 !important;
    border-radius: 10px;
    margin: 10px 5px;
    justify-content: space-between;
    flex-direction: column;
    width: 46%;
}

.item:hover{
    background-color: #1FA9FB !important;
    cursor: pointer;
}

.item:hover > p{
    color: white !important;
}

.item p {
    color: #5B5B5B !important;
    padding: .5rem .75rem;
    font-weight: bold;
    font-size: 11px;
}

.item img{
    height: 100%;
    padding-top: 0.5rem;
    max-height: 80px;
}

.jstree-default .jstree-anchor{
    height: auto !important;
}

.jstree-anchor{
    width: 88% !important;
}

.content{
    height: 100% !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background: #f2f4f6;
    overflow: hidden;
}
ul {
    list-style: none;
}
.context-menu {
    position: absolute;
}
.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}
.menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}
.menu > li > a:hover {
    background:#f1f3f7;
    color: #4b00ff;
}
.menu > li > a > i {
    padding-right: 10px;
}
.menu > li.trash > a:hover {
    color: red;
}
.wizardlabel{
    width: 96% !important;
}

.collapse-menu{
    padding: 10px;
}

.collapse-menu img{
    height: 20px;
}

.cursor-pointer{
    cursor: pointer;
}

.menu-icon{
    width: 40px;
    padding-bottom: 5px;
}

.sub-menu-icon{
    width: 300px;
    position: fixed;
    left: 90px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.sub-menu-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-icon{
    width: 60%;
}

.hide{
    display: none !important;
}

.thumbnail iframe {
    width: 800px;
    height: 600px;
}

.thumbnail {
    position: relative;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thumbnail-container {
    width: calc(800px * 0.25);
    height: calc(600px * 0.25);
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.thumbnail iframe {
    opacity: 0;
    transition: all 300ms ease-in-out;
}


.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
